@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.information-column {
  padding: 50px;
  background-color: #000;
  color: #fff;
  text-align: center;
}

.information-column hr {
  border: none;
  border-bottom: 1px solid #7e047e;
  margin-top: 18px;
}
.code{
  display: flex;
  width: auto;
  
}

.information-column > .myimage {
  width: 200px;
  height: 190px;
  border-radius: 50%;
  margin-bottom: 18px;
  border: 5px solid #bf40bf;
}

.information-column h3 {
  text-align: left;
  margin-top: 20px;
  font-size: 1rem;
}

.information-column ul {
  list-style-type: none;
}

.information-column li {
  text-align: left;
  margin: 10px 0;
}

.information-column, .habili-title{
  margin: 10px 10px;
  font-size: 1rem;
} 
.areaAtual{
  margin: 10px 10px;
  font-size: 0.90rem;
}

.contact-description a {
  text-decoration: none;
  color: #fff;
}

.contact-description i {
  color: #bf40bf;
  margin-right: 10px;
}

.education-description {
  margin-top: 32px;
}
.education-description p {
  color: #bf40bf;
}

.code img{
  margin-top: 20px;
  width: 30%;
}

.language-description p {
  color: #fff;
}

.language-description .percent {
  height: 6px;
  background-color: #7e047e;
  margin-top: 5px;
  width: 205px;
}

.language-description .percent div {
  height: 6px;
  background-color: #bf40bf;
  margin-top: 5px;
}

.language-description .percent.english div {
  width: 40%;
}

.language-description .percent.spanish div {
  width: 35%;
}

.experiences-column {
  background-color: #fff;
  padding: 40px;
  color: #000;
}

.experiences-column section {
  margin-bottom: 30px;
}

.experiences-column h2 {
  margin-bottom: 15px;
}

.experiences-column .experience {
  margin-bottom: 14px;
}

.experiences-column .experience ul{
  list-style: none;
}

.experiences-column a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

footer{
  text-align: right;
}

@media (min-width: 992px) {
.container {
    display: flex;
    height: 100%;
    background-color: #000;
}

.code{
  display: flex;
  width: auto;
  
}

.code img{
  max-height: 100%;
  width: 50%;
  align-items: right;

}

.information-column {
    width: 50%;
    border-radius: none;
}

.information-column h3 {
  text-align: left;
  margin-top: 20px;
  font-size: 1.9rem;
}

.information-column > .myimage {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 5px solid #bf40bf;
    margin-bottom: 18px;
}
}
